.DS_Store
.env.local
.env.*.local
*.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
# intermediate files
Win32/
x64/
ipch/
resources/out/
.artifacts/
.projects/
*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.vc.db
*.vc.opendb
vs/debug
build/
.ccls-cache
xaa
*.old
sdkconfig
